<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <payment>
            <groups>
                <pagantis translate="label" module="pagantis_pagantis">
                    <label>Pagamastarde Payment</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <frontend_model>pagantis_pagantis/adminhtml_system_config_fieldset_payment</frontend_model>
                    <fields>
                        <active translate="label" module="pagantis_pagantis">
                            <label>Habilitado</label>
                            <comment>Habilitar esta forma de pago?</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <title translate="label" module="pagantis_pagantis">
                            <label>Título</label>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                    <!--    <end_of_month translate="label" module="pagantis_pagantis">
                            <label>Activar forma de Pago Cobro al fin de mes</label>
                            <comment>Habilitando esta forma de pago, el cliente podrá eligir pagar la compra al final del mes</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </end_of_month> -->
                        <environment translate="label" module="pagantis_pagantis">
                            <label>Entorno</label>
                            <comment>Elegir entorno de Test o Real</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>pagantis_pagantis/source_payment_environment</source_model>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </environment>
                        <account_code_test translate="label" module="pagantis_pagantis">
                            <label>TEST Public Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </account_code_test>
                        <account_key_test translate="label" module="pagantis_pagantis">
                            <label>TEST Secret Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>18</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </account_key_test>
                        <account_code_real translate="label" module="pagantis_pagantis">
                            <label>REAL Public Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </account_code_real>
                        <account_key_real translate="label" module="pagantis_pagantis">
                            <label>Real Secret Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </account_key_real>
                        <discount translate="label" module="pagantis_pagantis">
                            <label>Descuento - asumir comisiones</label>
                            <comment>Las comisiones están asumidas por el comercio si el parámetro está activo.</comment>
                            <frontend_type>Select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </discount>
                        <iframe translate="label" module="pagantis_pagantis">
                            <label>Iframe</label>
                            <comment>Abrir el formulario en un pop-up</comment>
                            <frontend_type>Select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </iframe>
                        <sendmail translate="label" module="pagantis_pagantis">
                            <label>Envía correo de confirmación</label>
                            <frontend_type>Select</frontend_type>
                            <sort_order>40</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sendmail>
                        <invoice translate="label" module="pagantis_pagantis">
                            <label>Crea factura automáticamente</label>
                            <frontend_type>Select</frontend_type>
                            <sort_order>50</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </invoice>
                        <sort_order translate="label" module="pagantis_pagantis">
                            <label>Ordenación metodo de pago</label>
                            <comment>Elegir en que posición tiene que salir el metodo de Pago Pagantis en el checkout</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
                        <min_order_total translate="label">
                          <label>Precio mínimo</label>
                          <frontend_type>text</frontend_type>
                          <sort_order>98</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                        </min_order_total>
                        <max_order_total translate="label">
                          <label>Precio máximo</label>
                          <frontend_type>text</frontend_type>
                          <sort_order>99</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                        </max_order_total>
                    </fields>
                </pagantis>
            </groups>
        </payment>
    </sections>
</config>
